@import 'tailwindcss';

@theme {
	--shadow-inset: inset 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
	--shadow-outset: 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

:root {
	--background: #bfc0d1;
}

* {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: white;
	font-family: var(--font-inter);
	width: 100vw;
	height: 100vh;
	box-shadow: var(--shadow-inset);
	line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-onest);
}

/* Кастомный скроллбар */
.custom-scrollbar {
	scrollbar-width: 10px;
	position: relative;
	margin-right: 10px;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #bfc0d1;
	border-radius: 100px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #31323e;
	border-radius: 100px;
	border: 3px solid #bfc0d1;
}

input.custom-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	border: 1px solid #bfc0d1;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.1s ease, border-color 0.1s ease,
		transform 0.1s ease;
	position: relative;
	flex-shrink: 0;
}

input.custom-checkbox:checked {
	background-color: #60519b;
	border-color: #60519b;
}

input.custom-checkbox:checked::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 5px;
	height: 10px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	transform: translate(-50%, -60%) rotate(45deg);
}

input.custom-checkbox:active {
	transform: scale(0.95);
}

input.custom-checkbox:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
